body {
  font-family: 'Open Sans', sans-serif;
}
header {
  background-image: url(../img/header/1.png);
}
.header-a {
  text-decoration: none;
  color: white;
}
.header-a:hover {
  text-decoration: none;
  color: white;
}
.header-ul {
  background-color: #313030;
  width: 100%;
  height: 100%;
  color: white;
  margin: 30px 0px;
}
.header-li {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header-button {
  color: white;
  background-color: #ff2d2d;
  text-decoration: none;
  padding: 12px 10px;
  width: 220px;
  height: 50px;
  border-radius: 10px;
  margin-top: 35px;
  border: none;
}
.header-video {
  background-image: url(../img/header/video.png);
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 50px;
}
h1 {
  font-weight: 900;
  font-size: 55px;
  letter-spacing: 1.5px;
}
.header-li {
  display: inline-block;
  text-decoration: none;
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-weight: 700;
}
.header-li:hover {
  background-color: #ff2d2d;
}
.our-p {
  padding: 15px 0;
}
.DYK {
  padding-top: 50px;
}
.DYK-h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.DYK-p {
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.DYK-button {
  width: 200px;
  height: 45px;
  border-color: red;
  background-color: #fff;
  color: red;
  padding: 12px 10px;
  border-radius: 10px;
}
.DYK-img {
  padding-top: 20px;
  padding-bottom: 20px;
}
.DYK-block {
  height: 270px;
}
.DYK-h4 {
  font-weight: 900;
  padding-bottom: 20px;
}
.DYK-animation {
  margin-bottom: 170px;
}
.feature-h1 {
  font-size: 42px;
  margin: 25px auto;
}
.feature-p {
  font-size: 16px;
  padding-bottom: 20px;
}
.feature-border {
  border-bottom: 2px solid #ff2d2d;
  display: block;
  margin: auto;
  width: 300px;
}
.feature-ul {
  margin: 30px auto;
}
.feature-li {
  display: inline-block;
  font-size: 22px;
  padding: 0 10px;
}
.feature-a {
  text-decoration: none;
  color: #797979;
}
.feature-a:hover {
  color: #ff2d2d;
  text-decoration: none;
}
.feature-img {
  display: inline-block;
  height: 290px;
  width: 290px;
  padding-right: 7px;
  padding-top: 15px;
}
.meet-h1 {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 900;
}
.meet-p1 {
  font-weight: 500;
  font-size: 16px;
  border-bottom: 2px solid #ff2d2d;
  width: 350px;
  padding-bottom: 25px;
}
.mark-main {
  height: 460px;
  width: 320px;
  margin-top: 25px;
}
.mark-h4 {
  font-weight: 700;
  margin-top: 20px;
  font-size: 30px;
}
.mark-p {
  font-weight: 500;
}
.mark-li {
  display: inline-block;
  text-decoration: none;
  padding-right: 25px;
  padding-top: 40px;
  padding-left: 0;
  margin: 0;
  font-style: italic;
  font-size: 16px;
}
.mark-img {
  width: 160px;
  padding-top: 30px;
  margin-top: 50px;
  height: 200px;
}
.mark-a {
  text-decoration: none;
  color: #696969;
}
.mark-a:hover {
  color: #696969;
  text-decoration: none;
}
.mark-ul {
  margin: 0;
  padding: 0;
}
.img-responsive {
  height: 400px;
  margin-top: 25px;
}
#design_tips {
  background-color: #2c2c2c;
}
.design-h1 {
  padding: 25px 0;
  font-size: 42px;
  color: white;
}
.design-p {
  color: white;
  text-align: center;
}
.design-input {
  margin-top: 30px;
  width: 520px;
  height: 55px;
  line-height: 55px;
  border-radius: 5px;
  margin-left: 30%;
  padding: 10px;
}
.design-button {
  width: 210px;
  height: 55px;
  margin-left: 20px;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: #ff2d2d;
  margin-bottom: 50px;
}
.design-a {
  text-decoration: none;
}
.design-a:hover {
  text-decoration: none;
}
.design-a:active {
  text-decoration: none;
}
