@font-face {
  font-family: Museo;
  src: url(../fonts/MuseoSansRegular.ttf);
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
body {
  background-image: url(../img/fon1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Museo';
}
.phone {
  font-weight: 900;
  font-size: 17px;
}
i {
  padding-right: 5px;
}
i:hover {
  color: red;
}
.header-soc > a {
  color: grey;
}
.header-ssilka {
  text-decoration: none;
  color: grey;
}
.header-ssilka:hover {
  color: grey;
  text-decoration: none;
}
.header-spisok {
  margin-top: 20px;
}
.header-soc {
  text-align: right;
  padding-right: 5px;
}
.header-top {
  margin-top: 30px;
  margin-bottom: 30px;
}
.header-fon {
  background: url(../img/fon2.png) no-repeat center center;
  background-size: cover;
  text-align: center;
  width: 1242px;
  height: 590px;
}
.header-spisok1 {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  font-weight: 300;
  color: grey;
  padding-top: 45px;
}
.header-spisok1:hover {
  color: black;
  border-bottom: 2px solid #fe5c2e;
  padding-bottom: 10px;
}
.header-p {
  font-weight: 100;
  font-size: 17px;
}
.header-otstup {
  margin-top: 95px;
}
.header-span-bold {
  font-weight: 700;
}
.header-span-otstup {
  margin-top: 30px;
}
.header-opit {
  padding-top: 30px;
}
.header-opit:hover {
  background-image: url(../img/header-icon/hover.png);
  background-size: cover;
}
.fa-search {
  padding-left: 180px;
}
h1 {
  margin-top: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}
.zakazat {
  background-color: #fe5c2e;
  border-radius: 10px;
  height: 60px;
  line-height: 60px;
  width: 270px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
  border: none;
}
.zakazat-span {
  color: #fe5c2e;
  padding-left: 5%;
}
.icon {
  height: 30px;
  width: 35px;
}
.icon-span-otstup {
  padding: 25px 25px;
}
.besplatno {
  color: #fe5c2e;
  text-decoration: underline;
  font-size: 22px;
}
.resheniya-p {
  font-weight: 100;
  margin-bottom: 40px;
  font-size: 18px;
}
.prodagi > span {
  display: inline-block;
  padding: 10px 0px;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 14pt;
}
.prodagi > img {
  padding-top: 20px;
  padding-right: 30px;
}
.prodagi {
  width: 370px;
  margin-right: 20px;
  margin-bottom: 25px;
  background-color: #fff;
  background-size: auto;
}
.prodagi-span {
  font-weight: 700;
  font-size: 18pt;
  margin-top: 20px;
}
.prodagi-razvernut {
  color: #fe5c2e;
  font-weight: 100;
}
.btn {
  padding: 16px;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background-color: #fe5c2e;
  cursor: pointer;
}
.btn.active {
  background-color: black;
  color: white;
  cursor: pointer;
}
.hidden {
  display: none;
}
.erp-p {
  font-size: 18px;
  font-weight: 700;
  padding: 30px;
}
.erp-p1 {
  font-size: 16px;
  font-weight: 700;
}
.sistemi {
  padding: 20px;
}
.sistemi-span {
  padding-left: 35px;
  vertical-align: middle;
  height: 22px;
}
.sistemi-a {
  vertical-align: middle;
  background-image: url(../img/sistemi/icon.png);
  background-repeat: no-repeat;
  margin-bottom: 15px;
  height: 22px;
  color: black;
  display: inline-block;
}
.sistemi-a:hover {
  color: black;
  text-decoration: none;
  background-image: url(../img/sistemi/iconactive.png);
}
.vigodi > h4 {
  font-weight: 700;
  margin: 25px 0;
}
.vigodi-a {
  background-image: url(../img/vigodi/fon1.png);
  background-repeat: no-repeat;
  color: white;
  padding-top: 1px;
  padding-left: 6px;
  line-height: 18px;
}
.vigodi-a:hover {
  background-image: url(../img/vigodi/fon.png);
  text-decoration: none;
  color: white;
}
.vigodi-span {
  font-weight: 400;
  padding: 10px;
  line-height: 18px;
  color: black;
}
.vigodi-img {
  display: block;
  float: left;
  padding: 24px;
}
.vigodi-img-2 {
  margin: 25px 0;
  text-align: left;
}
.vigodi-block {
  margin-top: 30px;
  margin-bottom: 50px;
}
.feedback > p {
  font-size: 18px;
  font-weight: 100;
}
.feedback-img {
  height: 60px;
  padding: 15px 0;
  margin: 15px 10px;
}
.feedback-block {
  height: 200px;
  margin-top: 25px;
}
.feedback-block:hover {
  background-color: #fff;
}
.feedback > h4 {
  text-decoration: underline;
  color: #fe5c2e;
  margin: 55px 0px;
  margin-bottom: 75px;
}
.etapi-h4 {
  font-weight: 600;
}
.etapi-step {
  margin: 0;
  padding: 15px;
  background-color: #fff;
  height: 150px;
}
.etapi-a {
  border: none;
  color: black;
}
.etapi-a:hover {
  border: none;
}
.nav-tabs {
  text-align: center;
  margin-left: 0;
}
.etapi li {
  text-align: center;
}
.etapi-step > h4 {
  font-size: 18px;
  color: grey;
  font-weight: 700;
}
.etapi-step > span {
  color: grey;
}
.predlogenie-p {
  font-size: 12px;
  font-weight: 100;
  text-decoration: underline;
  color: grey;
}
.predlogenie-fon {
  background-size: cover;
  height: 200px;
}
.predlogenie-img {
  position: absolute;
  top: 0;
  right: 0;
}
.predlogenie-button {
  position: relative;
  top: 120px;
  left: -49%;
}
.predlogenie-span {
  left: -50%;
}
.footer {
  padding: 50px 0px;
  line-height: 150px;
}
.footer-span {
  font-size: 14px;
  font-weight: 100;
  color: grey;
}
.footer-p {
  font-size: 16px;
  font-weight: 100;
  color: grey;
}
.footer-phone {
  text-decoration: underline;
  color: black;
  font-weight: 900;
  font-size: 17px;
}
.tab {
  margin-right: 0px;
  margin: 0 auto;
}
.tab-a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.tab-a:hover {
  color: white;
  background-color: #fe5c2e;
}
.tab-li {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0px;
}
.nav li a {
  padding: 0px;
}
.btn-default {
  margin-right: 0;
}
.nav-tabs {
  border-bottom: 0px solid #ddd;
  margin-left: 20%;
}
.nav-tabs > li > a {
  margin-right: 0px;
}
.btn-default:active {
  background-color: black;
  color: white;
}
