@font-face {
  font-family: Museo;
  src: url(../fonts/MuseoSansRegular.ttf);
  font-weight: normal;
  font-style: normal;
}
/* line 11, style.less */
* {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 15, style.less */
body {
  background-image: url(../img/fon1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Museo';
}
/* line 22, style.less */
.phone {
  font-weight: 900;
  font-size: 17px;
}
/* line 26, style.less */
i {
  padding-right: 5px;
}
/* line 28, style.less */
i:hover {
  color: red;
}
/* line 32, style.less */
.header-soc > a {
  color: grey;
}
/* line 36, style.less */
.header-ssilka {
  text-decoration: none;
  color: grey;
}
/* line 39, style.less */
.header-ssilka:hover {
  color: grey;
  text-decoration: none;
}
/* line 44, style.less */
.header-spisok {
  padding-top: 15px;
}
/* line 47, style.less */
.header-soc {
  text-align: right;
  padding-right: 5px;
}
/* line 51, style.less */
.header-top {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 55, style.less */
.header-fon {
  background: url(../img/fon2.png) no-repeat center center;
  background-size: cover;
}
/* line 59, style.less */
.header-spisok1 {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  font-weight: 300;
  color: grey;
  padding-top: 45px;
}
/* line 66, style.less */
.header-spisok1:hover {
  color: black;
  border-bottom: 2px solid #fe5c2e;
  padding-bottom: 10px;
}
/* line 72, style.less */
.header-p {
  font-weight: 100;
  font-size: 17px;
}
/* line 76, style.less */
.header-otstup {
  margin-top: 95px;
}
/* line 79, style.less */
.header-span-bold {
  font-weight: 700;
}
/* line 82, style.less */
.header-span-otstup {
  margin-top: 30px;
}
/* line 85, style.less */
.header-opit {
  padding-top: 30px;
}
/* line 87, style.less */
.header-opit:hover {
  background-image: url(../img/header-icon/hover.png);
  background-size: cover;
}
/* line 93, style.less */
.fa-search {
  padding-left: 180px;
}
/* line 96, style.less */
h1 {
  margin-top: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* line 101, style.less */
.zakazat {
  background-color: #fe5c2e;
  border-radius: 10px;
  height: 60px;
  line-height: 60px;
  width: 270px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
  border: none;
}
/* line 111, style.less */
.zakazat-span {
  color: #fe5c2e;
  padding-left: 5%;
}
/* line 116, style.less */
.icon {
  height: 30px;
  width: 35px;
}
/* line 119, style.less */
.icon-span-otstup {
  padding: 25px 25px;
}
/* line 123, style.less */
.besplatno {
  color: #fe5c2e;
  text-decoration: underline;
  font-size: 22px;
}
/* line 129, style.less */
.resheniya-p {
  font-weight: 100;
  margin-bottom: 40px;
  font-size: 18px;
}
/* line 137, style.less */
.prodagi > span {
  display: inline-block;
  padding: 10px 0px;
  padding-left: 20px;
  margin-bottom: 20px;
  line-height: 14pt;
}
/* line 145, style.less */
.prodagi > img {
  padding-top: 20px;
  padding-right: 30px;
}
/* line 149, style.less */
.prodagi {
  width: 370px;
  margin-right: 20px;
  margin-bottom: 25px;
  background-color: #fff;
  background-size: auto;
}
/* line 155, style.less */
.prodagi-span {
  font-weight: 700;
  font-size: 18pt;
  margin-top: 20px;
}
/* line 163, style.less */
.prodagi-razvernut {
  color: #fe5c2e;
  font-weight: 100;
}
/* line 168, style.less */
.btn {
  padding: 16px;
  margin-right: 14px;
  text-decoration: none;
}
/* line 172, style.less */
.btn:hover {
  color: white;
  background-color: #fe5c2e;
  cursor: pointer;
}
/* line 177, style.less */
.btn.active {
  background-color: black;
  color: white;
  cursor: pointer;
}
/* line 183, style.less */
.hidden {
  display: none;
}
/* line 186, style.less */
.erp-p {
  font-size: 18px;
  font-weight: 700;
  padding: 30px;
}
/* line 190, style.less */
.erp-p1 {
  font-size: 16px;
  font-weight: 700;
}
/* line 195, style.less */
.sistemi {
  margin: 5px;
}
/* line 198, style.less */
.vigodi > h4 {
  font-weight: 700;
  margin: 25px 0;
}
/* line 203, style.less */
.vigodi-span {
  font-weight: 400;
}
/* line 207, style.less */
.vigodi-img {
  display: block;
  float: left;
  padding: 24px;
}
/* line 211, style.less */
.vigodi-img-2 {
  margin: 25px 0;
  text-align: left;
}
/* line 216, style.less */
.vigodi-block {
  margin-top: 30px;
}
/* line 220, style.less */
.feedback > p {
  font-size: 18px;
  font-weight: 100;
}
/* line 225, style.less */
.feedback-img {
  height: 60px;
  padding: 15px 0;
  margin: 15px 10px;
}
/* line 230, style.less */
.feedback-block {
  height: 200px;
  margin-top: 25px;
}
/* line 233, style.less */
.feedback-block:hover {
  background-color: #fff;
}
/* line 238, style.less */
.feedback > h4 {
  text-decoration: underline;
  color: #fe5c2e;
  margin: 55px 0px;
  margin-bottom: 75px;
}
/* line 245, style.less */
.etapi-h4 {
  font-weight: 700;
}
/* line 248, style.less */
.etapi-4etap {
  background-color: #fff;
  height: 300px;
}
/* line 252, style.less */
.etapi-step {
  margin: 0;
  padding: 15px;
  background-color: #fff;
  height: 150px;
}
/* line 259, style.less */
.etapi-step > h4 {
  font-size: 18px;
  color: grey;
  font-weight: 700;
}
/* line 264, style.less */
.etapi-step > span {
  color: grey;
}
/* line 268, style.less */
.predlogenie-p {
  font-size: 12px;
  font-weight: 100;
  text-decoration: underline;
  color: grey;
}
/* line 274, style.less */
.predlogenie-fon {
  background: url(../img/predlogenie/fon.png) no-repeat center center;
  background-size: cover;
  background-color: #fff;
  height: 286px;
}
/* line 280, style.less */
.predlogenie-img {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 285, style.less */
.predlogenie-button {
  position: relative;
  top: 120px;
  left: -52%;
}
/* line 290, style.less */
.predlogenie-span {
  left: -55%;
}
/* line 294, style.less */
.footer {
  padding: 50px 0px;
}
/* line 296, style.less */
.footer-span {
  font-size: 14px;
  font-weight: 100;
  color: grey;
}
/* line 301, style.less */
.footer-p {
  font-size: 16px;
  font-weight: 100;
  color: grey;
}
/* line 306, style.less */
.footer-phone {
  text-decoration: underline;
  color: black;
  font-weight: 900;
  font-size: 17px;
}
/* line 314, style.less */
.tab-a {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
/* line 320, style.less */
.tab-a:hover {
  color: white;
  background-color: #fe5c2e;
}
/* line 325, style.less */
.tab-li {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0px;
}
/*# sourceMappingURL=style.css.map */